/*Стили для classroom*/
.classroom {
    margin-bottom: 80px;
    background: #DFE1FF;
    height: 100%;
    padding:  80px 0;


    .row {
        align-items: center;
    }

    @media screen and (max-width: $lg) {
        margin-bottom: 80px;
        padding: 40px 0;
    }

    @media screen and (max-width: $sm) {
        padding: 0;
        background: none;
    }

    .classroom__text {
        @media screen and (max-width: $lg) {
            margin-bottom: 30px;
        }

        h2 {
            margin-bottom: 28px;
            font-weight: 700;
            font-size: 32px;

            @media screen and (max-width: $xl) {
                margin-bottom: 30px;
            }

            @media screen and (max-width: $lg) {
                font-size: 27px;
            }
        }
    }

    .classroom__img {
        width: 100%;
        border-radius: 10px;

        @media screen and (max-width: 576px) {
            box-shadow: var(--boxshadow);
        }
    }
}

/*Конец Стили для classroom*/