/*Стили для возможностей*/
.possibilities {
    margin-bottom: 67px;


    .row {
        row-gap: 40px;


        @media screen and (max-width:$md) {
            display: none;
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 45px;

        @media screen and (max-width:$lg) {
            margin-bottom: 25px;
        }
    }

    .possibilities__item {
        display: flex;
        justify-content: center;
        flex-direction: column;


        .possibilities__item-blue {
            background: #DFE1FF;
            border-radius: 20px;
            height: 320px;
            max-width: 285px;
            padding: 49px 20px 61px 20px;
            box-shadow: 0px 10px 50px 0px #4047E233;
            text-align: center;

            @media screen and (max-width:$lg) {
                max-height: 290px;
                max-width: 540px;
            }

        }

        .possibilities__item-orange {
            background: #FFE1AD;
            border-radius: 20px;
            height: 320px;
            max-width: 285px;
            text-align: center;
            padding: 49px 20px 61px 20px;
            box-shadow: 0px 10px 50px 0px #FCA20633;

            @media screen and (max-width:$lg) {
                max-height: 290px;
                max-width: 530px;
            }

        }



        .possibilities__item-text {
            font-size: 20px;
            font-weight: 500;
            margin: 26px 0 18px;


            @media screen and (max-width: $xl) {
                font-size: 16px;
                margin: 10px 0 5px;
            }
        }

    }

    .swiper {
        display: none;

        @media screen and (max-width: $md) {
            display: block;
        }

        .swiper-pagination {
            position: relative;
            bottom: 0;
            margin-top: 16px;
        }
    }
}

/*Конец Стили для возможностей*/